<div class="row">
  <div class="glass-body card col-4" *ngFor="let taco of tacos">
    <div class="card-body">
      <kbd class="text-warning">{{taco.name}}</kbd>
      <div class="list-group">
        <div class="glass-body list-group-item" *ngFor="let ingredient of taco.ingredients">{{ingredient.name}}</div>
      </div>
    </div>
    <div class="card-footer bottom">
<button type="button" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#myModal">choose</button>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
