body {
  background: url("http://localhost:8080/resources/images/taco.jfif");
  background-repeat: no-repeat;
}
.glass-body {
  background: rgba(187, 199, 178, 0.4);
  font-size: 20px;
  font-style: italic;
  backdrop-filter: blur(5px);
  transition: 0.5s;
}

.list-group-item:hover {
  background: rgba(169, 176, 103, 0.7);
}
