<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet" type="text/css">
    <title>Main</title>
</head>
<body>
<div class="constraint-container">
<div class="header">
    <div class="logo"><span>SOCIX</span></div>
    <div class="media"></div>
</div>
<div class="content">
    <div class="menu">
        <a href="index.html"><span>Profile</span></a>
        <a href="#"><span>Messages</span></a>
        <a href="#"><span>Groups</span></a>
        <a href="#"><span>Music</span></a>
        <a href="#"><span>Video</span></a>
        <a href="#"><span>Settings</span></a>
    </div>
    <div class="container">

    </div>
</div>
<div class="footer"></div>
</div>
</body>
</html>