* {
    margin: 0;
    padding: 0;
}
.constraint-container {
    width: 980px;
}
body {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: center;
    background: rgba(75,229,164,0.88);
    border-radius: 5px;
}
.logo{
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
}
 .menu {
     background: rgba(200,237,202,0.88);
     width: 150px;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     height: 100vh;
 }

 .menu a{
     width: 150px;
     padding-bottom: 5px;
     padding-top: 5px;
     text-align: center;
     font-size: 20px;
     color: rgba(26,23,52,0.88);
     transition: 0.5s;
     height: 40px;
 }
 .menu a:hover {
     font-size: 24px;
     color: rgba(70,35,60,0.88);
     background: rgba(149,239,203,0.88);
 }
